.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator .btn_next,.btn_prev{
  background: blue;
  width: auto;
  color:white;
  font-weight: bold;
}
.paginator .btn_prev{
  background: blue;
  width: auto;
  color:white;
  font-weight: bold;
}
.paginator button {
  border: none;
  background: gold;
  color: black;
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.paginator button:focus,
button:active {
  outline: none;
}
.paginator .currentPage {
  width: 25px;
  height: 25px;
  font-weight: bold;
  border-radius: 50%;
}
