.formControl.error input,
.formControl.error textarea {
  border: 2px solid red;
  
}
.formControl.error span {
  border: 2px solid black;
  background:blue;
  color: red;
}
.commonError{
  background: blue;
  color: red;
  border: 2px solid #000;
}