.preloader {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: darkslategray;
}
.preloader img {
 width: 400px;
 height: 400px;
 margin: 0 auto;
}