.item {
  color: crimson;
  display: flex;

  border: 4px solid teal;
  margin-top: 10px;
  justify-content: space-between;
}
.item_content {
  display: flex;
  align-items: center;
}
.item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}
